#grid{
    width: 500px;
    height: 500px;
    margin:auto;
    border: 5px solid;
    border-color:red;
    background-color: blue;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows: 125px 125px 125px 125px;
    display:grid
}
#instructions{
    width:250px;
    height:500px;
    border: 5px;
    border-right: 0px;
    background-color: purple;
}